#list-button span.ui-icon-custom {
	background: url(glypish/152-rolodex.png) 0 0 no-repeat;
}

#add-button span.ui-icon-custom {
	background: url(glypish/187-pencil.png) 0 0 no-repeat;
}

#settings-button span.ui-icon-custom {
	background: url(glypish/20-gear2.png) 0 0 no-repeat;
}