<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initialscale=1">
    <title></title>

    <!-- Third Party Stylesheets-->
    <link rel="stylesheet" href="css/jquery.mobile-1.4.3.css" />
    <link rel="stylesheet" href="css/ios_inspired/styles.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <!-- Libraries -->
    <script src="js/jquery.js"></script>
    <script src="js/jqm-config.js"></script>
    <script src="js/jquery.mobile-1.4.3.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/backbone-mongodb.js"></script>
    <!-- Config -->
    <script src="js/app-config.js"></script>
    <!-- Template loader -->
    <script src="js/template-loader.js"></script>
    <!-- SMA models and views -->
    <script src="js/models/post.js"></script>
   <!--  <script src="js/view/post-list-page.js"></script> -->
  <!--     <script src="js/view/post-add-page.js"></script> -->
    <script src="js/views/post-details-page.js"></script>
 <!--    // <script src="js/view/post-delete-dialog.js"></script>
    // <script src="js/view/main-page.js"></script>
    // <script src="js/view/settings-page.js"></script>
    // <script src="js/view/about-page.js"></script> -->
    <!-- SMA main file and router -->
    <script src="js/main.js"></script>
</head>
<body>

<script type="text/template" class="template" id="post-details-page">
    <div data-role="header">
        <h1>Post Details</h1>
        <a href="#post/list" data-rel="back" data-theme="a">
            Back
        </a>
        <a href="#about" data-theme="a">
            About
        </a>
    </div>
    <div data-role="content" class="post-details"></div>
    <div data-role="footer" data-position="fixed">
        <div data-role="navbar" data-theme="a">
            <ul>
                <li>
                    <a href="#post/list" id="list-button" data-icon="custom">
                        View Posts
                    </a>
                </li>
                <li>
                    <a href="#post/add" id="add-button" data-icon="custom">
                      Add Post
                    </a>
                </li>
                <li>
                    <a href="#settings" id="settings-button" data-icon="custom">
                     Settings
                    </a>
                </li>
            </ul>
        </div>
    </div>
</script>
<script type="text/template" class="template" id="post-details">
    <h1><%= title %></h1>
    <small>Posted on <%= created %>.</small>
    <p><%= body %></p>
    <a href="#post/delete/<%= id %>" name="delete-post" id="delete-post" data-role="button">
        Delete Post
    </a>
</script>
<script type="text/template" class="template" id="post-list-item">
    <div class="ui-btn-inner ui-li">
        <div class="ui-btn-text">
            <a class="ui-link-inherit" href="#post/details/<%= id %>">
                <%= title %>
                <br><small><%= created %></small>
            </a>
        </div>
    </div>
</script>
</body>
</html>